<ion-content fullscreen>
  <ion-item class="close-fake" lines="none" text-center>
    <ion-button (click)="close()" fill="clear" color="light">
      <ion-icon name="close" slot="start"></ion-icon>
      Back
    </ion-button>
  </ion-item>

  <ion-slides>
    <ion-slide>
      <div class="swiper-zoom-container">
        <ion-img [src]="img?.photo" [alt]="img?.id"></ion-img>
      </div>
    </ion-slide>
  </ion-slides>

</ion-content>
