<ion-item (click)="openModal(item)">
  <ion-thumbnail (ionError)="onError(item)" slot="start">
    <ion-img [src]="item?.photo" [alt]="item?.id"></ion-img>
  </ion-thumbnail>
  <ion-text color="dark">
    <span>{{item?.text}}</span>
  </ion-text>
</ion-item>
