<ion-header color="light" #header>
  <ion-toolbar>
    <ion-searchbar placeholder="{{placeholdertext}}" type="text" debounce="500" (ionChange)="searchInput($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" appHideHeader [header]="header">
  
<ion-virtual-scroll *ngIf="dataDisplayed" [items]="displayItems" approxItemHeight="430px">
    <div *virtualItem="let item">
      <app-image-item [item]="item"></app-image-item>
    </div>
</ion-virtual-scroll>
  
<ion-item *ngIf="!dataDisplayed">
  <app-data-not-displayed></app-data-not-displayed>
</ion-item>
      
</ion-content>
